Package: sh.litten.lune
Name: Lune 🌙
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 12)
Conflicts: com.junesiphone.lockpluspro, com.xcxiao.simplels2
Version: 1.4
Architecture: iphoneos-arm
Description: Twinkle, Twinkle, Little Star
Maintainer: Litten <hiya@litten.love>
Author: Litten <hiya@litten.love>
Section: Tweaks
Depiction: https://repo.litten.love/depictions/lne/index.html
SileoDepiction: https://repo.litten.love/depictions/lne/lne.json
Icon: https://repo.litten.love/depictions/lne/assets/icon.png
