<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Ringer Settings - iOS 13 Only</string>
			<key>footerText</key>
			<string>Same Coordinates/Size As The Moon Icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>key</key>
			<string>ringerIcon</string>
			<key>label</key>
			<string>Show Icon For Muted Ringer</string>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>key</key>
			<string>preferRingerIcon</string>
			<key>label</key>
			<string>Prefer Ringer Icon</string>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>6</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>label</key>
			<string>Ringer Icon:</string>
			<key>key</key>
			<string>moonIconRinger</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Do Not Disturb Moon</string>
				<string>Bedtime Moon</string>
				<string>General Moon</string>
				<string>Inset Moon</string>
				<string>General Star</string>
				<string>Outlined Heart</string>
				<string>Silent Phone</string>
				<string>Tangled Sun</string>
				<string>General Sun</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Ringer Settings</string>
</dict>
</plist>
