<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@Litteeen</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Litten</string>
            <key>user</key>
            <string>Litteeen</string>
        </dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>X Coordinates Of The Moon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>150</real>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>key</key>
			<string>xcordinates</string>
			<key>min</key>
			<real>-100</real>
			<key>max</key>
			<real>500</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Y Coordinates Of The Moon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>115</real>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>key</key>
			<string>ycordinates</string>
			<key>min</key>
			<real>-100</real>
			<key>max</key>
			<real>750</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Moon Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>15</real>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>key</key>
			<string>size</string>
			<key>min</key>
			<real>10</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Advanced Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>key</key>
			<string>colorTime</string>
			<key>label</key>
			<string>Color Time Purple</string>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>key</key>
			<string>colorMoon</string>
			<key>label</key>
			<string>Color Moon Purple</string>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>key</key>
			<string>glow</string>
			<key>label</key>
			<string>Glowing Moon</string>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Custom Glow Settings</string>
 			<key>detail</key>
 			<string>LNESubPrefsListController</string>
 			<key>LNESub</key>
 			<string>glowSettings</string>
 		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>key</key>
			<string>hideDNDBanner</string>
			<key>label</key>
			<string>Remove DND Banner</string>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>label</key>
			<string>Moon Icon:</string>
			<key>key</key>
			<string>moonIcon</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Moon 1</string>
				<string>Moon 2</string>
				<string>Moon 3</string>
				<string>Moon 4</string>
				<string>Star 1</string>
				<string>Heart 1</string>
				<string>Ringer 1</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Ringer Settings</string>
 			<key>detail</key>
 			<string>LNESubPrefsListController</string>
 			<key>LNESub</key>
 			<string>ringerSettings</string>
 		</dict>

		 <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respringUtil</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
			<key>action</key>
			<string>resetPrompt</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon Design</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@74k1_</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>taki</string>
            <key>user</key>
            <string>74k1_</string>
        </dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support Him As Well Please</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@MrGcGamer</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>MrGcGamer</string>
            <key>user</key>
            <string>MrGcGamer</string>
        </dict>

		<!-- Support Me -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support Me</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Little Donation 🌺</string>
			<key>subtitle</key>
			<string>Helps Me To Pay For My Server</string>
			<key>url</key>
			<string>https://paypal.me/Litteeen</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Feature Request? ✨</string>
			<key>subtitle</key>
			<string>Send Me An Email With Your Request</string>
			<key>url</key>
			<string>mailto:hello@litten.sh?subject=Lune%20Feature%20Request</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code 🌙</string>
			<key>subtitle</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com/Litteeen/Lune</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Found A Bug? 🌧</string>
			<key>subtitle</key>
			<string>Leave A Bug Report Here</string>
			<key>url</key>
			<string>https://github.com/Litteeen/Lune/issues/new</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Lune By Litten, Made With ❤️</string>
			<key>isStaticText</key>
			<true/>
		</dict>

	</array>
	<key>title</key>
	<string>Lune</string>
</dict>
</plist>
