<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Status Bar Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>key</key>
			<string>purpleItems</string>
			<key>label</key>
			<string>Purple Items (Beta)</string>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.lunepreferences</string>
			<key>key</key>
			<string>purpleBackground</string>
			<key>label</key>
			<string>Purple Background On HS, LS</string>
			<key>PostNotification</key>
			<string>sh.litten.lunepreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Ringer Settings</string>
</dict>
</plist>
